@import './base.css';
@import "tailwindcss";

@theme {
--color-brigth-bluey:#C5C8F5;
--color-very-bluey: #132E8E;
--color-blob-bluey-light: #1C6BC5;
--color-medium-blueybluey: #4BA0EA;
--color-purplebluey: #B0B8F5;

}

#app {
  max-width: 100%;
}

a,
.green {
  color: white;
  transition: 0.4s;
  padding: 0 50px ;
}

a:hover {
  color: var(--color-purplebluey);
  text-decoration: underline 10% #fff;
  text-underline-offset: 5px;
}

html, body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (hover: hover) {
  a:hover {
    /* background-color: #B0B8F5; */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
/* 
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
