@import './base.css';
@import "tailwindcss";

#app {
  max-width: 1280px;
}

a,
.green {
  color: white;
  transition: 0.4s;
  padding: 0 50px ;
}

a:hover {
  background-color: #B0B8F5;
  text-decoration: underline 10%;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (hover: hover) {
  a:hover {
    /* background-color: #B0B8F5; */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
/* 
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
